In [30]:
import pandas as pd

In [31]:
df = pd.read_csv(r"brasileirao.csv")
df

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,Santos,87,46,25,12,9,93,60,33
2,2003,3,São Paulo,78,46,22,12,12,81,67,14
3,2003,4,São Caetano,74,46,19,14,13,53,37,16
4,2003,5,Coritiba,73,46,21,10,15,67,58,9
...,...,...,...,...,...,...,...,...,...,...,...
445,2024,16,Red Bull Bragantino,44,38,10,14,14,44,48,-4
446,2024,17,Athletico Paranaense,42,38,11,9,18,40,46,-6
447,2024,18,Criciúma,38,38,9,11,18,42,61,-19
448,2024,19,Atlético Goianiense,30,38,7,9,22,29,58,-29
449,2024,20,Cuiabá,30,38,6,12,20,29,49,-20

In [42]:
# Criando novas estatiscas com dados ja existentes 
df["percentual_derrotas"] = df["loss"] / df["played"] * 100
df["media_gols_sofridos"] = df["goals_taken"] / df["played"] 
df["media_gols_marcados"] = df["goals"] / df["played"]
df

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff,percentual_derrotas,media_gols_sofridos,media_gols_marcados
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,17.391304,1.021739,2.217391
1,2003,2,Santos,87,46,25,12,9,93,60,33,19.565217,1.304348,2.021739
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,26.086957,1.456522,1.760870
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,28.260870,0.804348,1.152174
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,32.608696,1.260870,1.456522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,2024,16,Red Bull Bragantino,44,38,10,14,14,44,48,-4,36.842105,1.263158,1.157895
446,2024,17,Athletico Paranaense,42,38,11,9,18,40,46,-6,47.368421,1.210526,1.052632
447,2024,18,Criciúma,38,38,9,11,18,42,61,-19,47.368421,1.605263,1.105263
448,2024,19,Atlético Goianiense,30,38,7,9,22,29,58,-29,57.894737,1.526316,0.763158
449,2024,20,Cuiabá,30,38,6,12,20,29,49,-20,52.631579,1.289474,0.763158

In [43]:
filtro_lanterna = df["place"] == 20
df_rebaixados = df[filtro_lanterna]
df_rebaixados

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff,percentual_derrotas,media_gols_sofridos,media_gols_marcados
19,2003,20,Ponte Preta,50,46,11,18,17,63,73,-10,36.956522,1.586957,1.369565
43,2004,20,Botafogo,51,46,11,18,17,62,71,-9,36.956522,1.543478,1.347826
67,2005,20,Atlético Mineiro,47,42,13,8,21,54,59,-5,50.000000,1.404762,1.285714
89,2006,20,Santa Cruz,28,38,7,7,24,41,76,-35,63.157895,2.000000,1.078947
109,2007,20,América-RN,17,38,4,5,29,24,80,-56,76.315789,2.105263,0.631579
129,2008,20,Ipatinga,35,38,9,8,21,37,67,-30,55.263158,1.763158,0.973684
149,2009,20,Sport,31,38,7,10,21,48,71,-23,55.263158,1.868421,1.263158
169,2010,20,Grêmio Barueri,28,38,7,10,21,39,64,-25,55.263158,1.684211,1.026316
189,2011,20,Avaí,31,38,7,10,21,45,75,-30,55.263158,1.973684,1.184211
209,2012,20,Figueirense,30,38,7,9,22,39,72,-33,57.894737,1.894737,1.026316
229,2013,20,Náutico,20,38,5,5,28,22,79,-57,73.684211,2.078947,0.578947
249,2014,20,Criciúma,32,38,7,11,20,28,56,-28,52.631579,1.473684,0.736842
269,2015,20,Joinville,31,38,7,10,21,26,48,-22,55.263158,1.263158,0.684211
289,2016,20,América Mineiro,28,38,7,7,24,23,58,-35,63.157895,1.526316,0.605263
309,2017,20,Atlético Goianiense,36,38,9,9,20,38,56,-18,52.631579,1.473684,1.000000
329,2018,20,Paraná,23,38,4,11,23,18,57,-39,60.526316,1.500000,0.473684
349,2019,20,Avaí,20,38,3,11,24,18,62,-44,63.157895,1.631579,0.473684
369,2020,20,Botafogo,27,38,5,12,21,32,62,-30,55.263158,1.631579,0.842105
389,2021,20,Chapecoense,15,38,1,12,25,27,67,-40,65.789474,1.763158,0.710526
409,2022,20,Juventude,22,38,3,13,22,29,69,-40,57.894737,1.815789,0.763158
429,2023,20,América Mineiro,24,38,5,9,24,42,81,-39,63.157895,2.131579,1.105263
449,2024,20,Cuiabá,30,38,6,12,20,29,49,-20,52.631579,1.289474,0.763158

TIMES QUE MAIS VEZES FORAM LANTERNAS DA COMPETIÇÃO

In [44]:
df_rebaixados.groupby("team")["place"].count().sort_values(ascending=False)

team
América Mineiro        2
Botafogo               2
Avaí                   2
Atlético Goianiense    1
América-RN             1
Atlético Mineiro       1
Chapecoense            1
Criciúma               1
Cuiabá                 1
Figueirense            1
Grêmio Barueri         1
Ipatinga               1
Joinville              1
Juventude              1
Náutico                1
Paraná                 1
Ponte Preta            1
Santa Cruz             1
Sport                  1
Name: place, dtype: int64

Comparação de 16º com 17º

In [58]:

decimosexto = df[df["place"] == 16]
rebaixados = df[df["place"] == 17]

print("media de gols marcados por 16º: ", decimosexto["goals"].mean())
print("media de gols marcados por 17º: ",  rebaixados["goals"].mean())
print("-" * 50)
print("media de gols sofridos por 16º: ", decimosexto["goals_taken"].mean())
print("media de gols sofridos por 17º: ", rebaixados["goals_taken"].mean())
print("-" * 50)
print("media de vitorias por 16º: ", decimosexto["won"].mean())
print("media de vitorias por 17º: ", rebaixados["won"].mean())
print("-" * 50)
print("Percentual de derrotas 16º:", decimosexto["percentual_derrotas"].mean())
print("Percentual de derrotas 17º:", rebaixados["percentual_derrotas"].mean())
print("-" * 50)
print("media de pontos por 16º: ", decimosexto["points"].mean())
print("media de pontos por 17º: ", rebaixados["points"].mean())
print("-" * 50)

media de gols marcados por 16º:  45.59090909090909
media de gols marcados por 17º:  41.86363636363637
--------------------------------------------------
media de gols sofridos por 16º:  53.68181818181818
media de gols sofridos por 17º:  54.63636363636363
--------------------------------------------------
media de vitorias por 16º:  11.454545454545455
media de vitorias por 17º:  10.727272727272727
--------------------------------------------------
Percentual de derrotas 16º: 43.232587397347125
Percentual de derrotas 17º: 43.78287616273886
--------------------------------------------------
media de pontos por 16º:  44.81818181818182
media de pontos por 17º:  43.18181818181818
--------------------------------------------------